<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

    <!-- 댓글 작성 -->
    <entry key="insertReply">
    INSERT INTO CUSTOM_REPLY
    (CUS_NO
    , CUS_RE_REGDATE
    , CUS_RE_CONTENT
    )
    VALUES(1
    , DEFAULT
    , ?
    )
    </entry>

    <!-- 댓글 조회 -->
    <entry key="selectReplyList">
        SELECT CUS_NO
                ,CUS_RE_NO
                ,CUS_RE_REGDATE
                ,CUS_RE_CONTENT
            FROM CUSTOM_REPLY
            ORDER BY CUS_RE_REGDATE DESC
    </entry>

</properties>
